---
include:
- project: tq-em/build/docker/toolchain-ci
  file: common/include.yml
  ref: master
- local: ci/templates.yml

stages:
- build
- test
- deploy

# Builds
Build Documentaion:
  stage: build
  extends:
    - .artifacts-always-one-week
    - .gitlab-runner-linux
    - .image-doc
  script: make docs

Build All (staging):
  extends: .staging-build
  variables:
    MAKE_TARGET: "all"
    LOCAL_DEPLOYMENT_PATH: "/home/tqemci/workspace/deploy"
    BUILD_BASE_REGISTRY: "local/em/base"
    BUILD_BASE_DOCKER_TAG: "latest"
    BUILD_TOOLCHAIN_REGISTRY: "local/em/toolchain"
    BUILD_TOOLCHAIN_DOCKER_TAG: "latest"
  script: >
    make "${MAKE_TARGET}" TQEM_BASE_DEPLOY_PATH="${LOCAL_DEPLOYMENT_PATH}"
      BASE_REGISTRY="${BUILD_BASE_REGISTRY}"
      BASE_DOCKER_TAG="${BUILD_BASE_DOCKER_TAG}"
      PUBLIC_TOOLCHAIN_REGISTRY="${BUILD_TOOLCHAIN_REGISTRY}"
      PUBLIC_TOOLCHAIN_DOCKER_TAG="${BUILD_TOOLCHAIN_DOCKER_TAG}"

# Tests
Shell Linter:
  extends:
    - .lint-shell
    - .rule-include-development-branches

Python Linter:
  extends:
    - .lint-python
    - .rule-include-development-branches

Gitleaks:
  extends: .gitleaks
